<div id="wrapper">
<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <h4> Welcome, <%= session[:username] %>.</h4>
        <h1 class="major">Customers</h1>
        <form action="/customers/new">
            <input type="submit" value="Add New Customer" />
          </form>
        <p>
            This page will be used to view orders that have been logged
            in the database. You might just be able to sort/filter orders
            to better find the one you are looking for. You can also create
            a new order by clicking on the 'New Order' button.
        </p>
    </div>
</section>

<section class="formInputs">
<table id="orderTable" class="orderLog">
    <thead>
        <th>ID</th>
        <th>Customer Name</th>
        <th>Orders</th>
    </thead>
    <tbody id="orderTable">
        <% @customer.each do |customer| %>
        <tr> 
                <td><%= customer.id %> </td>
                <td><%= customer.customer_name %> </td>
                <td><%= customer.orders.count %> </td>
                <td><a href="/customers/<%=customer.id%>"><i class="fas fa-external-link-square-alt"></i></a></td>
        </tr>
        <% end %>
    </tbody>
</table>
</section>
</div>