  <div id="wrapper">
    <!-- Main -->
    <section id="main" class="wrapper">
      <div class="inner">
        <h3 class="major">Update: <%= @product.product_category %> - <%= @product.product_flavor %></h3>
        <p>
          This page will be were you can veiw all the information about the order that was fetched from the Database.
          You can access this page by selecting the order you would like to preview from the Order Log page.
        </p>
      <label for="">ID:</label><%= @product.id %>

      <form action="/products/patch/<%= @product.id %>" method="POST">
      <input type="hidden" name="_method" value="patch">
      <label for="">Product Category:</label>
        <input type="text" name="product[product_category]" value="<%= @product.product_category %>">
      <label for="">Product Flavor:</label>
        <input type="text" name="product[product_flavor]" value="<%= @product.product_flavor %>">
      <label for="">Product Size:</label>
        <input type="text" name="product[product_size]" value="<%= @product.product_size %>">
      <label for="">Quantity:</label>
        <input type="text" name="product[quantity]" value="<%= @product.quantity %>">
      <input type="submit" name="" value="Update this product">
        </form>
      </div>
    </section>