  <div id="wrapper">
    <!-- Main -->
    <section id="main" class="wrapper">
      <div class="inner">
        <h3 class="major"><%= @product.product_category %> - <%= @product.product_flavor %></h3>
        <p>
          This page will be were you can veiw all the information about the order that was fetched from the Database.
          You can access this page by selecting the order you would like to preview from the Order Log page.
        </p>
      <label for="">ID:</label><%= @product.id %>
      <label for="">Product Category:</label><%= @product.product_category %>
      <label for="">Product Flavor:</label><%= @product.product_flavor %>
      <label for="">Product Size:</label><%= @product.product_size %>
      <label for="">Quantity:</label><%= @product.quantity %>
      
      <form class="" action="/products/delete/<%= @product.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="" value="Delete this product">
      </form>
      <form action="/products/edit/<%= @product.id %>">
        <input type="submit" value="Edit this product" />
      </form>
      </div>
    </section>
  </div>